.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin: 20px;
}

.grid>article {
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

/* .grid>article:hover{
    transform: scale(1.03);
} */

.grid>article img {
    height: 250px;
    width: 100%;
}

.text {
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    font-size: 15px;
}

.text>button {
    margin-top: 5px;
    background: gray;
    border: 0;
    font-size: 15px;
    color: white;
    padding: 10px;
    width: 100%;
}

.btn-cart {
    margin-top: 10px;
    background: rgb(97, 211, 63);
    border: 0;
    font-size: 15px;
    color: white;
    padding: 10px;
    width: 100%;
}

.btn-topping {
    margin-top: 2px;
    background: rgb(8, 8, 8);
    border: 0;
    font-size: 12px;
    color: white;
    padding: 15px;
    width: 25%; 
    white-space: nowrap;
    margin-bottom: 5px;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.2);
}
.modal-content {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #dbdbdb;
    max-width: 600px;
    min-width: 300px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.modal-img {
    height: 250px;
    width: 90%;
}



/* .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .overlay {
    position: flex; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */




.modal-content h2 {
    font-weight: bold;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.close-modal {
    position: flex;
    /* top: 30px; */
    /* right: 20px; */
    /* margin: 0; */
    width: 100%;
    padding: 3px 5px;
    /* width: 10%; */
    font-size: 10px;
    background-color: red;
    /* margin: 1px;*/


    /* margin-top: 10px; */
    /* background: rgb(97, 211, 63); */
    border: 0;
    /* font-size: 15px; */
    color: white;
    /* padding: 10px; */
    /* width: 100%; */
    border-radius: 0px 0px 5px 5px;

}